*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
 
}
.result{
    margin-left: auto;
    margin-right: auto;
}
#region{
    font-size: 60px;
    color: black;
    padding-top: 15px;
}
#temp {
    font-size: 100px;
    padding-top: 20px;  
}
#description{
    font-size: 30px;
    padding: 30px;
    text-transform: capitalize;
}
#celsius {
    font-size: 30px;
}